.headerBlock {
  background: url("https://wallpapercave.com/wp/wp6563260.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.headerBlock__info {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.headerBlock__infoText {
  text-align: center;
  flex: 1;
}

.headerBlock__infoText > h1 {
  color: #4a4b4e;
  font-weight: 900;
  font-size: 40px;
}

.headerBlock__infoText > h4 {
  font-weight: 500;
  font-size: 15px;
  color: #4a4b4e;
}

.headerBlock__infoText > h4 > span {
  /* padding-bottom: 4px; */
  padding-top: 15px;
  border-bottom: 1px solid #4a4b4e;
  color: #4a4b4e;
  cursor: pointer;
}

.headerBlock__infoText > h4 > span:hover {
  border-bottom-width: 2px;
  color: black;
  font-weight: 600;
}

.headerBlock__actions {
  margin-top: 330px;
  display: flex;
  gap: 20px;
}

.headerBlock__actions > button {
  cursor: pointer;
  border: none;
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.btnPrimary {
  background-color: #393c41;
  color: white;
  opacity: 0.9;
}

.btnSecondary {
  background-color: white;
  color: #393c41;
  opacity: 0.8;
}

.btnSecondary:hover {
  background-color: #393c41;
  color: white;
  opacity: 0.9;
}

.btnPrimary:hover {
  background-color: white;
  color: #393c41;
  opacity: 0.8;
}

@media (max-width: 500px) {
  .headerBlock__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
